html
{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

body
{
    margin: 0;
    padding: 0;
}

/*Header css*/
.symbol
{
   margin: 0.5rem;
   width: 6rem;
   height: 6rem;
}

#header h1
{
    margin: auto;
    text-align: center;
}

.nav
{
    list-style: none;
    padding-top: 0;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#header
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 7rem;
}

.nav li a
{
    text-decoration: none;
    color: darkslategrey;
    text-align: center;
}

.nav li a:hover
{
    color: black;
}

.nav li
{
    padding-left: 1rem;
}

p
{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 350px){
    #header{
        font-size: 0.6rem;
        grid-template-columns: 1fr 2fr 1fr;
        height: 4rem;
    }
    .nav{
        font-size: 1rem;
        margin: 0;
    }
    .symbol{
        height: 80%;
        width: 70%;
        margin: 10% 0 10% 10%;
    }
    .nav li{
        padding: 0 0.2rem;
    }
}
@media (min-width: 400px){
    #header{
        font-size: 0.6rem;
        height: 4rem;
    }
    .nav{
        font-size: 1rem;
        margin: 0;
    }
    .symbol{
        height: 70%;
        width: 70%;
    }
}
@media (min-width: 640px){
    #header{
        font-size: 1rem;
        height: 7rem;
    }
    .nav{
        font-size: 1.2rem;
        margin: 0;
    }
    .symbol{
        height: 80%;
        width: 40%;
        margin: 1%;
    }
}
@media (min-width: 1024px){
    #header{
        font-size: 1rem;
        height: 7.5rem;
    }
    .nav{
        font-size: 1.5rem;
        margin: 0;
    }
    .nav li{
        padding: 0 0.5rem;
    }
    .symbol{
        height: 7rem;
        width: 7rem;
    }
}

/*Index css*/
.info
{
    background-color: darkseagreen;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
}

.info a
{
    text-decoration: none;
    color: darkslategrey;
    font-size: 1.2rem;
}

.info-img
{
    margin: auto;
}

.tarot
{
    grid-row: 1/3;
    grid-column: 1;
    height: 100%;
}

.tarot2
{
    height: 100%;
    grid-row: 1/3;
    grid-column: 3;
}

.text
{
    grid-column: 2;
    margin: 0 auto;
    width: 70ch;
}

.text h2
{
    margin: 0;
    padding: 0.5rem;
}

.text p
{
    padding: 0.4rem;
}

@media (min-width: 350px){
    .info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0;
    }
    .tarot, .tarot2{
        visibility: hidden;
        width: 0;
    }
    .text{
        margin-top: 1rem;
        width: 30ch;
        grid-column: 1;
        grid-row: 1;
    }
    .info-img{
        width: 100%;
        height: 100%;
        grid-row: 2;
        grid-column: 1;
    }
}
@media (min-width: 400px){
    .text{
        margin-top: 1rem;
        width: 40ch;
        grid-column: 1;
        grid-row: 1;
    }
    .text h2{
        font-size: 1.5rem;
    }
}
@media (min-width: 640px){
    .text{
        width: 50ch;
    }
    .info-img{
        width: 60%;
    }
}
@media (min-width: 1024px){
    .info{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }
    .tarot, .tarot2{
        visibility: visible;
        width: 100%;
        height: 100%;
    }
    .text{
        grid-column: 2;
    }
    .info-img{
        grid-column: 2;
        width: 70%;
    }
}
@media (min-width: 2000px){
    .info{
        grid-template-rows: 1fr 2fr;
    }
    .text{
        width: 80ch;
    }
    .text h2, .text p{
        font-size: 2rem;
    }
}

/*Gallery css*/

.pic-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: darkseagreen;
    padding: 0.5rem 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.pic-content img
{
    width: 90%;
    height: 40rem;
    margin: auto;
    padding-bottom: 3%;
}

#pc-img
{
    width: 50%;
    padding-top: 2%;
}
@media (min-width: 350px){
    .pic-content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
    .pic-content img{
        height: 8rem;
    }
    #pc-img{
        width: 40%;
    }
}
@media (min-width: 400px){
    .pic-content img{
        height: 10rem;
    }
    #pc-img{
        width: 30%;
    }
}
@media (min-width: 640px){
    .pic-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .pic-content img{
        height: 20rem;
    }
    #pc-img{
        padding: 0;
        width: 60%;
    }
}
@media (min-width: 1024px){
    .pic-content img{
        height: 40rem;
        width: 95%;
    }
    #pc-img{
        width: 50%;
        padding-top: 2%;
    }
}

/*About css*/
.pic-about
{
    background-color: darkseagreen;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    position: relative;
}

.p-about
{
    grid-column: 2;
    width: 70ch;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.p-about p
{
    text-align: left;
    padding: 0.4rem 0;
    font-size: 1.1rem;
}

.row
{
    grid-column: 2;
    padding-top: 0.5rem;
}

.column
{
    width: 30%;
    margin-bottom: 1.5rem;
    padding: 0 0.8rem;
}
  
.card
{
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
  
 .container
{
    padding: 0 1rem;
    width: 26ch;
}
  
  .title
{
    color: maroon;
}

  .luna
{
    width: 10rem;
    height: 9rem;
    margin: 0;
    padding: 0;
}
@media (min-width: 350px){
    .pic-about{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 0;
    }
    .p-about{
        width: 35ch;
    }
    .column{
        width: 40%;
    }
    .luna{
        width: 50%;
        height: 100%;
    }
    .container{
        padding: 0;
        width: 100%;
    }
    .container p, h2{
        font-size: 1rem;
        padding: 1% 0;
        margin: 0;
    }
}
@media (min-width: 400px){
    .p-about{
        width: 40ch;
    }
    .column{
        width: 50%;
    }
    .container p, h2{
        font-size: 1rem;
    }
}
@media (min-width: 640px){
    .p-about{
        width: 60ch;
    }
    .column{
        width: 30%;
        margin-left: 15%;
    }
    .luna{
        width: 50%;
    }
    .container p, h2{
        font-size: 1.2rem;
    }
}
@media (min-width: 1024px){
    .pic-about{
        background-color: darkseagreen;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .p-about{
        width: 70ch;
    }
    .column{
        width: 45%;
        margin: 0;
    }
}
@media (min-width: 2000px){
    .p-about{
        width: 80ch;
    }
    .p-about p{
        font-size: 1.5rem;
    }
    .row{
        margin-bottom: 2%;
    }
}

/*Contact css*/
  .contact
{
    background-color: darkseagreen;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    position: relative;
}

#border
{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#contact
{
    grid-column: 1/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#contact img
{
    height: 2rem;
    width: 2rem;
}

#contact a
{
    text-decoration: none;
    color: darkslategray;
}

@media (min-width: 350px){
    #contact{
        font-size: 0.8rem;
    }
}
@media (min-width: 400px){
    #contact{
        font-size: 1rem;
    }
}
@media (min-width: 640px){
    #contact{
        font-size: 1.3rem;
    }
    #contact a{
        padding-bottom: 5rem;
    }
}
@media (min-width: 1024px){
    .contact{
        height: 65rem;
    }
    #contact{
        font-size: 1.5rem;
    }
}
@media (min-width: 2000px){
    .contact{
        height: 100%;
    }
    #border{
        width: 50%;
        margin: auto;
    }
}

/*Footer css*/
.footer-nav
{
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    flex-direction: row;
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    position: static;
    bottom: 0;
}

.footer-nav a
{
    text-decoration: none;
    color: darkslategray;
    padding-left: 1rem;
}

@media (min-width: 350px){
    .footer-nav{
        font-size: 0.8rem;
    }
}
@media (min-width: 400px){
    .footer-nav{
        font-size: 1rem
    }
}
@media (min-width: 640px){
    .footer-nav{
        font-size: 1.2rem;
    }
}
@media (min-wdith: 1024px){
    .footer-nav{
        font-size: 1.5rem;
    }
}